nav {
  position: sticky;
  top: 0;
}

.Nav-item {
  margin: 0 1rem;
}

.Nav-item:hover {
  cursor: pointer;
}

.Nav-item a.active {
  padding-bottom: 12px;
  border-bottom: 3px solid black;
  cursor: grabbing;
}
.menu {
  display: flex;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  background-color: red;
  border-radius: 0.2rem;
}
