:root {
  --offWihite-color: #ecf0f1;
  --background-Black-color: #121212;
  --text-color: #1a1a1a;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.Nav-item {
  padding: 0 1rem;
  border-radius: 5px;
}

.Nav-link {
  display: block;
  padding: 0.5rem 0;
  cursor: pointer;
  text-transform: uppercase;
}

.Nav-item:hover {
  cursor: pointer;
  background: var(--offWihite-color);
}

.Nav-item a.active {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--background-Black-color);
  cursor: grabbing;
}

.menu {
  display: flex;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}
