body {
  width: 100vw;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  height: 100%;
}

.app-home {
  width: inherit;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.welcome-container {
  width: 100%;
}

.welcome-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-icon-link {
  margin: 0 0.8rem;
}

.notification-bell {
  position: relative; /* Needed to position the badge absolutely */
  display: inline-block;
}

.badge {
  position: absolute;
  top: -10px; /* Adjust to position above the bell */
  right: -10px; /* Adjust to position to the right of the bell */
  background: red; /* Red background for visibility */
  color: white; /* White text */
  border-radius: 50%; /* Makes it a circle */
  padding: 2px 6px; /* Spacing around the number */
  font-size: 12px; /* Small text size */
}

.appointment-card {
  margin: 0.5rem;
  border-radius: 15px;
}

.appointment-blue-bg {
  background: rgb(72, 72, 167);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: inherit;
}

.logo-appointment-id {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stetho {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.4rem 0.3rem;
  border-radius: 12px;
}

.appointment-id {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.2rem 0.5rem;
  border-radius: 12px;
}

.logo-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.appointment-type-container {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.2rem 0.5rem;
  border-radius: 12px;
}
