body {
  width: 100vw;
  display: flex;
  justify-content: center;
}

:root {
  --tw-blue-50: #eff6ff;
  --tw-indigo-100: #e0e7ff;
  --tw-blue-600: #2563eb;
}

#root {
  width: 100%;
  height: 100%;
}

.app-home {
  width: inherit;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.welcome-container {
  width: 100%;
}

.welcome-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-icon-link {
  margin: 0 0.8rem;
}

.notification-bell {
  position: relative; /* Needed to position the badge absolutely */
  display: inline-block;
}

.badge {
  position: absolute;
  top: -10px; /* Adjust to position above the bell */
  right: -10px; /* Adjust to position to the right of the bell */
  background: red; /* Red background for visibility */
  color: white; /* White text */
  border-radius: 50%; /* Makes it a circle */
  padding: 2px 6px; /* Spacing around the number */
  font-size: 12px; /* Small text size */
}

.appointment-card {
  margin: 0.5rem;
  border-radius: 15px;
  background-color: white;
}

.appointment-blue-bg {
  background: rgb(72, 72, 167);
  background: linear-gradient(to top left, #0f4473, #3b9abd);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: inherit;
}

.logo-appointment-id {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stetho {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.4rem 0.3rem;
  border-radius: 12px;
}

.appointment-id {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.2rem 0.5rem;
  border-radius: 12px;
}

.logo-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.appointment-type-container {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.2rem 0.5rem;
  border-radius: 12px;
}

.appointment-type-container {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
}

.honored {
  color: rgb(21, 229, 21);
}

.cancelled {
  color: red;
}

.pending {
  color: rgb(255, 162, 0);
}

.status-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-appointment-detail {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.7rem;
}

.appointment-detail-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.detail-icon-cont {
  height: 2rem;
  width: 2rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-icon-container {
  background-color: hsl(151, 81%, 96%);
}

.clock-icon-container {
  background-color: hsl(48, 100%, 96%);
}

.map-icon-container {
  background-color: hsl(248, 100%, 98%);
}

.calendar-icon {
  color: green;
}

.clock-icon {
  color: orange;
}

.map-icon {
  color: purple;
}

.detail-bold {
  font-size: 15px;
  font-weight: bold;
}

.pending-buttons-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.pend-button {
  width: 6rem;
  height: 4rem;
  border-radius: 10px;
  border: 1px solid white;
  padding: 0.3rem;
}

.pend-button p,
.view-report p {
  padding: 0.2rem 0;
  margin: 0;
  font-weight: 700;
}

.cancel-button {
  background-color: hsl(0, 24%, 81%);
}

.reschedule-button {
  background-color: hsl(30, 25%, 81%);
}

.QrCode-button {
  background-color: hsl(213, 22%, 82%);
}

.view-report {
  padding: 0.3rem 1rem;
}

.view-report-botton {
  width: 100%;
  border-radius: 10px;
  padding: 0.3rem 0;
  border: 1px solid white;
  background-color: hsl(213, 55%, 67%);
}

/* Appointment Booking route */

.appointment-booking {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    var(--tw-blue-50),
    var(--tw-indigo-100)
  );
  text-align: center;
}

.availble-days-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--tw-blue-600);
}

.select-date-container {
  display: flex;
  flex-direction: column;
  background: white;
  width: 90%;
  padding: 0.7rem;
  border-radius: 15px;
}
.day-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.string-day {
  display: flex;
  justify-content: center;
  align-items: center;
}

.num-days-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.num-day-container {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ddd;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
}

.inactive-month {
  color: #9ca3af;
  opacity: 0.5; /* Optional */
  transition: all 0.3s;
}

.today {
  background: red;
  color: white;
  opacity: 0.6;
  cursor: not-allowed;
}

.month-year-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.today-switch-button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.next-month-button,
.previous-month-button {
  padding: 0.5rem;
  border-radius: 50%;
  background: rgb(164, 114, 114);
}

.next-month-button:active,
.previous-month-button:active {
  background: rgb(156, 156, 205);
}

.day.unclickable {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.day:not(.unclickable):hover {
  color: black;
  cursor: pointer;
  transform: scale(1.05);
}

.day.selected {
  background: #1890ff;
  color: white;
  font-size: 2rem;
  font-weight: bolder;
}

.day.inactive-day::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background: #999;
  transform: rotate(-45deg);
  transform-origin: center;
}
