:root {
  --offWihite-color: #ecf0f1;
  --background-Black-color: #121212;
  --text-color: #1a1a1a;
  width: inherit;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.desktop-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Mobile menu styles */
.mobile-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  width: 100%;
  padding: 1rem 0rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.mobile-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav-item {
  padding: 0.5rem 0;
}

/* Base button styles */
.login-button {
  display: inline-block;
}

.button-container {
  width: 9rem;
  height: 2.7rem;
  margin: 0.5rem 0;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  transition: transform 0.2s ease;
}

.login-button:hover .button-container {
  transform: scale(1.05);
}

.icon-circle {
  background: white;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.2rem;
}

.button-text {
  color: white;
  margin-right: 0.8rem;
  font-size: 0.9rem;
}

/* Mobile-specific styles */
.hamLoginLink .button-container {
  width: 100%;
  max-width: 9rem;
  margin: 0.5rem auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }

  .desktop-login-btn {
    display: none;
  }

  .navLoginLink {
    display: none;
  }
}

@media (min-width: 769px) {
  .desktop-nav-list {
    display: flex;
    gap: 1.5em;
  }

  .desktop-nav-item {
    transition: transform 0.2s ease;
  }

  .desktop-nav-item .nav-link {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: transform 0.2s ease;
    display: inline-block; /* Transform needs this */
  }

  .desktop-nav-item .nav-link:not(.active):hover {
    transform: scale(1.05);
    background-color: var(--offWihite-color);
  }

  .desktop-nav-item .active {
    border-bottom: 3px solid var(--background-Black-color);
  }

  .hamburger-container {
    display: none;
  }
  .hamLoginLink {
    display: none;
  }
}
