:root {
  --offWihite-color: #ecf0f1;
  --background-Black-color: #121212;
  --text-color: #1a1a1a;
  width: inherit;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.navLists {
  display: none;
}

/* .hamListContainer,
.hamLists {
  display: flex;
} */

.Nav-item {
  padding: 0 1rem;
  border-radius: 5px;
}

.Nav-link {
  display: block;
  padding: 0.5rem 0;
  cursor: pointer;
}

.Nav-item:hover {
  cursor: pointer;
  background: var(--offWihite-color);
}

.Nav-item a.active {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--background-Black-color);
  cursor: grabbing;
}

.loginLink {
  display: none;
}

.hamburger-container {
  display: flex;
}

.hamMenu {
  display: flex;
}

@media (min-width: 769px) {
  .navLists {
    display: flex;
    list-style: none;
  }

  .loginLink {
    display: flex;
  }

  .hamburger-container {
    display: none;
  }
}
