#root {
  max-width: 100%;
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
  background-color: white;
  height: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
}
